html {
  background-color: rgb(207, 73, 108);
}

h1 {
  color: #ffe100;
  font-size: 120px;
  font-family: fantasy, cursive;
  padding: 50px;
}
.shadow1{
  color: #ffe100;
 font-family: fantasy;
 font-weight: ;
 text-shadow:
   -3px -3px 0 #222,
   3px -3px 0 #222,
   -3px 3px 0 #222,
   3px 3px 0 #222,
   4px 4px 0 #222,
   5px 5px 0 #222,
   6px 6px 0 #222,
   7px 7px 0 #222;
 line-height: 2em;
 letter-spacing: 0.1em;
 transform: scaleY(0.7);
 -webkit-transform: scaleY(0.7);
 -moz-transform: scaleY(0.7);
 margin:0;
 text-align: center;
}

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.item{
  padding: 20px;
  font-size: 25px;
  align-self: flex-start;

}
.first{
  color: #ffe100;
  font-size: 35px;
  font-family: fantasy;
  margin-top: 0px;
}

button{
  background-color: rgb(207, 73, 108);
  color: white;
  font-size: 40px;
  font-style: fantasy;
}
  img {
    padding: 55px;
    border-radius: 50%;
    float: inherit;
}
p{
  color: #ffe100;
  font-size: 50px;
  font-family: fantasy;
  font-style: oblique;

}
.lable{
  color: #000000;
  font-size: 50px;
  font-style: oblique;
  font-family: fantasy;
}
.lable{
  color: #ffe100;
 font-family: fantasy;
 font-weight: ;
 text-shadow:
   -3px -3px 0 #222,
   3px -3px 0 #222,
   -3px 3px 0 #222,
   3px 3px 0 #222,
   4px 4px 0 #222,
   5px 5px 0 #222,
   6px 6px 0 #222,
   7px 7px 0 #222;
 line-height: 2em;
 letter-spacing: 0.1em;
 transform: scaleY(0.7);
 -webkit-transform: scaleY(0.7);
 -moz-transform: scaleY(0.7);
 margin:0;
 text-align: center;
}

span {
  color: red;
  font-size: 30px;
  font-style: oblique;
  font-family: fantasy;
  opacity: 0;
  animation: blinking 1s linear infinite;
}

@keyframes blinking {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}
.top-margin{
  margin-top: -20px;
}
